
body {
    font-family: "Roboto", sans-serif;
}

table {
    border-collapse: collapse;
    border: none;
    
    
}

td, th {
    padding: 10px;
    text-align: center;
    
    
}

table, th, td {
    
    
}
th {
    background-color: #F1F1F1;
    border-radius: 2px;
    padding: 5px;
}